[#ftl]
<header class="top-header clearfix" >
    <!-- Logo -->
    <div class="logo bg-dark-light" >
        <a href="#/">
            <img width="48px;" src="icon/logo.png">
            <span class="ng-binding">iservport</span>
        </a>
    </div>
    <!-- needs to be put after logo to make it work -->
    <div class="menu-button" data-toggle-off-canvas >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <div class="top-nav" >
        <ul class="nav-left list-unstyled hidden-xs">
            <li>
                <a href="#/" data-toggle-nav-collapsed-min
                   class="toggle-min"
                ><i class="fa fa-bars"></i></a>
            </li>

        </ul>
        <ul class="nav-right pull-right list-unstyled">

        </ul>
    </div><!-- top-nav -->
</header>
