[#ftl]
<script type="text/javascript" src="js/bootstrap/3.3.7/bootstrap.min.js"></script>
<script type="text/javascript" src="js/angular/1.6.7/angular.min.js"></script>
<script type="text/javascript" src="js/angular/1.6.7/angular-locale_${locale_!'pt-br'}.js"></script>
<script type="text/javascript" src="js/angular/1.6.7/angular-resource.min.js"></script>
<script type="text/javascript" src="js/angular/1.6.7/angular-sanitize.min.js"></script>
<script type="text/javascript" src="js/angular/1.6.7/angular-animate.min.js"></script>
<script type="text/javascript" src="js/angular/loading-bar/0.9.0/loading-bar.min.js"></script>

<script type="text/javascript" src="/assets/_i18n/i18n_${locale!'pt_br'}.js"></script>
<script type="text/javascript" src="${baseName!'static'}/i18n/${baseName!'static'}_${locale!'pt_br'}.js"></script>
<script type="text/javascript" src="${baseName!'static'}/ng-${baseName!'static'}-module.js"></script>
